@import '@/styles/colors';

$circleIndicatorSize: 100px;
$circleCloseSize: 50px;

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#ffffff, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
    width: max-content;
    max-width: 90%;
    height: max-content;
    max-height: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(#000000, 0.2);
  }
}