@import "@/styles/colors.scss";

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;

  .pagination{
    display: flex;
    width: 100%;
    gap: 10px;
    button{
      border: none;
      background-color: $darkGray;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  h2{
    text-align: start;
    width: 100%;
    font-size: 1.8rem;
  }

.containerHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    .containerInput{
        display: flex;
        gap: 10px;
        input{
            border-radius: 20px;
            border: 1px solid #ccc;
            padding: 5px 10px;
            font-size: larger;
        }
        button{
          width: 60px;
          border: none;
          border-radius: 20px;
          padding: 5px 10px;
          background-color: $darkGray;
          color: white;
          cursor: pointer;
        }
    }
    .containerBtn{
      display: flex;
      align-items: center;
      gap: 20px;
      .button{
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: $darkGray;
        color: white;
        border: none;
        border-radius: 15px;
        padding: 5px 10px;
        cursor: pointer;
      }
    }
  }
  .containerBack{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    .backbtn{
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: $darkGray;
      color: white;
      border: none;
      border-radius: 15px;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

}
