@import "@/styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  box-sizing: border-box;

  .containerTitle{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    
    h2:last-child {
      text-align: end;
    }
  }


  .containerHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;


    .containerInput {
      display: flex;
      gap: 10px;
      box-sizing: border-box;
      input {
        border-radius: 20px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        font-size: larger;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        border: none;
        border-radius: 20px;
        padding: 5px 10px;
        background-color: $darkGray;
        color: white;
        cursor: pointer;
        box-sizing: border-box;
      }
    }
    .button {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: $darkGray;
      color: white;
      border: none;
      border-radius: 15px;
      padding: 5px 10px;
      cursor: pointer;
      box-sizing: border-box;
    }
  }

  h2 {
    text-align: start;
    width: 100%;
    font-size: 1.8rem;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    .formGrid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 20px;
      width: 100%;
      box-sizing: border-box;

    }
    @media screen and (max-width: 1200px){
      .formGrid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        
      }
      
    }
    .error{
      font-weight: bold;
      font-size: small;
      color: red;
      margin: 5px 0;
    }
    .formGroup{
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      box-sizing: border-box;

      .containerInputs{
        display: flex;
        gap: 20px;
        width: 100%;
        box-sizing: border-box;

      }
      label{
        font-weight: bold;
        font-size: 1.2rem;
        white-space: nowrap;
      }
      input {
        border-radius: 20px;
        border: 1px solid $secondary;
        padding: 5px 10px;
        font-size: medium;
        width: 100%;
      }
      select{
        border-radius: 20px;
        border: 1px solid $secondary;
        padding: 5px;
        font-size: medium;
        width: 100%;
      }
      button {
        width: 60px;
        border: none;
        border-radius: 20px;
        padding: 5px 10px;
        background-color: $darkGray;
        color: white;
        cursor: pointer;
      }
    }
    .formGroupClient{
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      box-sizing: border-box;


      .labelTitle{
        font-weight: bold;
        font-size: 1.2rem;
        white-space: nowrap;
      }
    }
    .containerBtn{
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 20px;
      margin-top: 20px;
      box-sizing: border-box;

      button {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        gap: 5px;
        background-color: $darkGray;
        color: white;
        border: none;
        border-radius: 15px;
        padding: 10px;
        width: max-content;
        cursor: pointer;
        box-sizing: border-box;

      }
    }
  }
  
}
