@import "@/styles/colors.scss";

.containerConfiguration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

  .containerCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      border-radius: 50px;
      padding: 20px;
      background-color: $darkGray;
      i{
        font-size: 5rem;
        color: $white;
      }
      h3{
        text-align: center;
        color: $white;
      }
    }
  }
}